body{
    margin: 0px 0px;
    background-color: #4e4e4e;
    color: white;
}

.header{
    background: #22211f;
    text-align: center;
    font-size: 22px;
    padding: 6px 0px;
}

.warnText{
    color: rgb(252, 136, 136);
    max-width: fit-content;
    margin-top: auto;
  margin-left: auto;
  margin-right: auto;
    font-size: 20px;
}

.inputBox{
    display: flex; /* Enable flexbox */
    align-items: center; /* Align items vertically center */
    max-width: fit-content;
    margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.iWord:focus{
  outline: none; /* Remove default outline */
}

.iWord{
    width: 300px; /* Width of the input box */
  padding: 10px; /* Padding inside the input box */
  margin: 10px 0; /* Margin around the input box */
  /*border: 2px solid #ccc; /* Border around the input box */
  /*border-radius: 4px; /* Rounded corners */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  font-size: 16px; /* Font size of the text inside the input box */
  transition: border-color 0.3s ease; 
}

.enterWord{
    /*padding: 10px 20px; /* Padding inside the button */
  font-size: 40px; /* Font size of the button text */
  border: none; /* Border around the button */
  /*color:white;
  /*border-radius: 0px; /* Rounded corners */
  background-color: #59BAFF; /* Background color of the button */
  cursor: pointer; /* Pointer cursor on hover */
  overflow: hidden;
  width: 60px;
  height: 40px;
  transition: background-color 0.3s ease;
}

.enterWord:hover{
    background-color: #22211f; /* Background color on hover */
    color: #59BAFF;
}

.wordMatrixTable{
    max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.letterNull{
    background-color: #22211f;
    width: 100px;
    height: 125px;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    font-size: 100px;
}

.letterBelong{
    background-color: #F0922D;
    width: 100px;
    height: 125px;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    font-size: 100px;
    color: #22211f;
}

.letterCorrect{
    background-color:#59BAFF;
    width: 100px;
    height: 125px;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    font-size: 100px;
    color: #22211f;
}

.retryCont{
  display: flex; /* Enable flexbox */
    align-items: center; /* Align items vertically center */
    max-width: fit-content;
    margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.goverText{
    color: rgb(252, 136, 136);
    padding: 10px 20px;
    background-color: #22211f;
    font-size: 30px;
    display: flex; /* Enable flexbox */
    align-items: center; /* Align items vertically center */
    max-width: fit-content;
    margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.winText{
  color: #59BAFF;
  padding: 10px 20px;
  background-color: #22211f;
  font-size: 30px;
  display: flex; /* Enable flexbox */
  align-items: center; /* Align items vertically center */
  max-width: fit-content;
  margin-top: 10px;
margin-left: auto;
margin-right: auto;
}

.restartBT{
  padding: 10px 20px; /* Padding inside the button */
  font-size: 35px; /* Font size of the button text */
  border: none; /* Border around the button */
  border-radius: 4px; /* Rounded corners */
  background-color: #F0922D; /* Background color of the button */
  cursor: pointer; /* Pointer cursor on hover */
  display: flex; /* Enable flexbox */
    align-items: center; /* Align items vertically center */
    max-width: fit-content;
    margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease;
}

.restartBT:hover{
  background-color: #bb9b5a;
}